html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control button {
    width: 100px;
}

.book-form {
    display: flex;
}

.book-form input {
    width: 10rem;
    padding: 6px 10px;
    border-radius: 4px;
}

table, tr, th {
    border: 1px solid black
}

